<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
	</appSettings>
	<log4net>
		<!--一般信息日志-->
		<appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
			<LockingModel value="log4net.Appender.FileAppender.MinimalLock" />
			<file value="Log/InfoLog/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date|%message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="InfoLog" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!--系统日志-->
		<appender name="SysLog" type="log4net.Appender.RollingFileAppender">
			<file value="Log/SysLog/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date|%message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="SysLog" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!--通讯服务日志-->
		<appender name="CommLog" type="log4net.Appender.RollingFileAppender">
			<file value="Log/CommLog/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="CommLog" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>

		<!--第三方应用服务日志-->
		<appender name="ThirdLog" type="log4net.Appender.RollingFileAppender">
			<file value="Log/ThirdLog/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="ThirdLog" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>

		<!--数据持久化日志-->
		<appender name="PersistenceLog" type="log4net.Appender.RollingFileAppender">
			<file value="Log/PersistenceLog/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="PersistenceLog" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>
		<!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
		<appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
			<!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库-->
			<bufferSize value="0" />
			<!--日志数据库连接串-->
			<!--<connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
			<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
			<connectionString value="Data Source=192.168.13.145/mes;User ID=ASRS_DC;Password=asrs;" />
			<!--日志数据库脚本-->
			<commandText value="INSERT INTO SYS_LOGDETAILS(LOG_DATE,THREAD,LOG_LEVEL,URL,MENU,MESSAGE,USERNAME,USERIP,ACTIONCLICK)
                   VALUES (:log_date, :thread, :log_level, :url, :MENU, :message,:UserName,:UserIP,:ACTIONCLICK)" />
			<!--日志时间LogDate -->
			<parameter>
				<parameterName value=":log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
				<conversionPattern value="%d" />
			</parameter>
			<!--线程号-->
			<parameter>
				<parameterName value=":thread" />
				<dbType value="String" />
				<size value="100" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<!--日志类型LogLevel -->
			<parameter>
				<parameterName value=":log_level" />
				<dbType value="String" />
				<size value="200" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>

			<!--日志路由-->
			<parameter>
				<parameterName value=":url" />
				<dbType value="String" />
				<size value="500" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{URL}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value=":MENU" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout" >
					<conversionPattern value = "%property{CHNMENU}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":message" />
				<dbType value="String" />
				<size value="3000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<!--自定义UserName -->
			<parameter>
				<parameterName value=":UserName" />
				<dbType value="String" />
				<size value="30" />
				<layout type="log4net.Layout.PatternLayout" >
					<conversionPattern value = "%property{USERNAME}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":UserIP" />
				<dbType value="String" />
				<size value="20" />
				<layout type="log4net.Layout.PatternLayout" >
					<conversionPattern value = "%property{USERIP}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":ACTIONCLICK" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout" >
					<conversionPattern value = "%property{ACTIONCLICK}"/>
				</layout>
			</parameter>
		</appender>

		<logger name="DbLoger">
			<level value="ALL" />
			<appender-ref ref="ADONetAppender" />
		</logger>
		<root>
			<level value="ALL"/>
			<appender-ref ref="InfoLog"/>
			<appender-ref ref="SysLog"/>
			<appender-ref ref="CommLog"/>
			<appender-ref ref="ThirdLog"/>
			<appender-ref ref="PersistenceLog"/>
		</root>
	</log4net>
</configuration>














<!--<configuration>
  -->
<!-- 注册log4net -->
<!--
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  -->
<!-- 定义日志记录器，可多个 -->
<!--
  <log4net>

    -->
<!--<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      -->
<!--
    -->
<!-- 定义写入缓冲区的条数,调试时1,正式发布后,需改成100或者20以上 -->
<!--
    -->
<!--<parameter>
        <parameterName value="@f4"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="GFG.GloryFinance.Framework.Log4Net.CustomLayout">
          <conversionPattern value="%property{FunName}" />
        </layout>
      </parameter>-->
<!--
    -->
<!--
    </appender>-->
<!--

    -->
<!--定义输出到记事本中-->
<!--
    <logger name="Logger">
      <level value="ALL" />
      <appender-ref ref="rollingFile" />
      <additivity value="false"/>
      -->
<!--为避免与继承自Root的日志重复写入-->
<!--
    </logger>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" type="" value="Logs\Log_/" />-->
<!--地址-->
<!--
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <datePattern value="yyyyMMdd'ErrorLog.txt'" />
      <param name="StaticLogFileName" value="false" />
      -->
<!--<layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>-->
<!--
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="FINE"/>
      -->
<!--<appender-ref ref="ADONetAppender" />-->
<!--
      <appender-ref ref="rollingFile" />
    </root>
    -->
<!--<logger name="DbLogger">
      <level value="ALL"/>
      <appender-ref ref="ADONetAppender" />
    </logger>-->
<!--
  </log4net>
</configuration>-->