<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <!--生产主数据库正式-->
    <add name="ConnectionString" connectionString="Data Source=10.4.10.11/HYMES;User ID=hymes;Password=sql;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--生产主数据库测式-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.4.10.205/tmphymes;User ID=hymes;Password=sql;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--韩华接口中间表-->
    <add name="ConnectionString2" connectionString="Data Source=10.4.10.46/IFHYMES;User ID=ifhymes;Password=sql;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ConnectionString3" connectionString="Data Source=10.4.36.220/SIDWMS;User ID=MESUSER;Password=MESUSER01;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--工艺数据库-->
    <add name="ConnectionString4" connectionString="Data Source=10.4.10.248/GYHYMES;User ID=gyhymes;Password=sql;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--测试-->
    <!--<add name="ConnectionString4" connectionString="Data Source=10.4.10.205/HISHYGY;User ID=gyhymes;Password=sql;" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--成品数据库-->
    <add name="ConnectionStringWMS" connectionString="Data Source=10.1.14.123/WMSMID;User ID=mesuser;Password=mesUser1228;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ConnectionStringWMS2" connectionString="Data Source=10.1.14.175/WMSMID;User ID=mes;Password=mesint67;" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--模具测试数据库-->
    <add name="ConnectionStringMM" connectionString="Data Source=10.1.14.175/WMSMID;User ID=muju;Password=testmuju;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密172.16.3.130 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
    如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--生产主数据库-->
    <!--<add key="ConnectionString" value="User ID=hymes;Password=sql;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.4.10.11)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = HYMES)))" />-->
    <!--<add key="ConnectionString" value="User ID=hymes;Password=sql;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.1.253)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = HYMES)))"/>-->
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <!--<add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>-->
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <!--韩华接口中间表-->
    <!--<add key="ConnectionString2" value="User ID=ifhymes;Password=sql;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.4.10.46)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = IFHYMES)))" />-->
    <!--<add key="ConnectionString2" value="User ID=ifhymes;Password=sql;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =192.168.1.253)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = IFHYMES)))"/>-->
    <!--<add key="ConnectionString3" value="User ID=MESUSER;Password=MESUSER01;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.4.36.220)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = SIDWMS)))" />-->
    <!--不知道-->
    <!--<add key="SqlConnectionString" value="Database=AYao;Server=10.4.10.253;uid=sa;pwd=Lonson123;" />-->
    <!--工艺数据库-->
    <!--<add key="ConnectionString4" value="User ID=gyhymes;Password=sql;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.4.10.248)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = GYHYMES)))" />-->
    <!--成品数据库-->
    <!--<add key="ConnectionStringWMS" value="User ID=mesuser;Password=mesUser1228;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.1.14.123)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = WMSMID)))" />-->
    <!--<add key="ConnectionStringWMS2" value="User ID=mes;Password=mesint67;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.1.14.175)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORAMAIN)))" />-->
    <!--模具测试数据库-->
    <!--<add key="ConnectionStringMM" value="User ID=muju;Password=testmuju;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =10.1.14.175)(PORT = 1523)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = MIDTEST)))" />-->
    <!--数据访问层程序集名称 -->
    <!--<add key="DAL" value="AFAT.OLSD.OracleDAL"/>-->
    <!--虚拟目录名称(如果是站点，则为空) -->
    <!--<add key="VirtualPath" value=""/>-->
    <!--网站域名，本地目录可以用.   -->
    <!--<add key="WebURL" value=""/>-->
    <!--默认菜单是否是展开状态-->
    <!--<add key="MenuExpanded" value="false"/>-->
    <!--管理员所属部门名称-->
    <!--<add key="AdManager" value="信息部"/>-->
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <!--<httpRuntime executionTimeout="60000"/>
    -->
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <!--
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>-->
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
          <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>